<div class="login-register-area section-space-y-axis-100">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 offset-md-3">
                <form action="#">
                    <div class="login-form">
                        <h4 class="login-title">Se Connecter</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Adresse Email</label>
                                <input type="email" placeholder="Adresse Email">
                            </div>
                            <div class="col-md-12">
                                <label>Mot de passe</label>
                                <input type="password" placeholder="Mot de passe">
                            </div>
                            <div class="col-md-12 pt-1 mt-md-0">
                                <div class="forgotton-password_info">
                                    <p>Vous n'êtes toujours pas inscrit ? <a href="#">Inscrivez-vous ici</a>.</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-custom-size lg-size btn-webshop-primary">Se Connecter</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>