.header-right > ul > li.minicart-wrap {
    padding-right: 12px;
  }
  .me-30 {
    margin-right: 30px;
  }
  .header-right > ul > li .minicart-btn .quantity {
    background-color: #007EA7;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: -5px;
    right: 0;
  }